.form-group {
  position: relative;
}

.search-input {
  padding-right: 50px;
}

.search-icon {
  position: absolute;
  top:  0;
  right:  0;
  padding:  10px 18px;
  margin:  0;
  line-height:  1;  
}
